.below_pic_main{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    margin-left:  29px ;
    margin-right: 29px;
    margin-bottom: 29px;
    
    /* width:100%; */
    border-radius: 15px;
}
.text_box_1{
    padding: 3px;
}
.text_box_1 div{
    padding: 3px;
}

.text_box_2{
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 3px;
    
}
.text_box_2 div{
    padding:3px;
}

.text_box_3{
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px;  
}
.text_box_3 div{
    padding:3px;
}
.text_box_4{
    padding: 3px;
}
.text_box_4 div{
    padding: 3px;
}