.card_boxes{

display: flex;
justify-content: space-around;

}
.p1 {
    
    background-image: url('/images/card_image.avif');
    height: 22vh;
    width: 22vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.t1 h3{
 padding:5px;   
}
.t1 p{
    padding:5px;
}