 .header{
    border: 1px solid black;
    padding: 5px;
    background-color: #1c49c2;
 }
 .upper{
   
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid rgb(255, 230, 0);
    padding: 5px;
   
}