.lower{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid rgb(253, 2, 2); */
    padding: 5px;
}
.lower div:hover{
    cursor: pointer;
    background-color: aqua;
    
}
.lower_divs{
    position: relative;
    display: flex; 
    align-items: center; 
}
.lower_divs div{
    padding: 2px;
}
