.lower{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid rgb(253, 2, 2); */
    padding: 5px;
    
}
.lower div:hover{
    cursor: pointer;
    /* background-color: aqua; */
    
}
.lower_divs{
    position: relative;
    display: flex; 
    align-items: center; 
}
.lower_divs div{
    padding: 2px;
}

.below_navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.below_navbar div {
    padding: 5px;
 
}
.bn1{
    font-size: small;
    font-weight: bold;
}
.bn2{
    font-size: small;
    border-left: 1px solid gray;
   
}