*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    border: 1px solid black;
    color: #fafafa;
    font-family: Work Sans, Verdana, Lucida Sans, Helvetica Neue, Arial, Roboto, sans-serif;

}

body{
    
    background-color: rgb(43, 43, 25);
}